body {
	background: url(../backgrounds/wood.jpg);
}
input, button {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}
after {
	clear: both;
}
.menu {
	margin: 5em auto;
	width: 22em;
	color: white;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
}
.menu form {
  	margin: auto;
	color: black;
  	margin-top: 5em;
  	padding: 1.5em;
  	width: 100%;
  	border-radius: 5px;
  	border: 2px solid #434a52;
}
.menu form input {
	border-radius: 8px 8px 8px 8px;
  	color:  #4d4d4d;
  	margin-bottom: 1em;
  	padding: 0 1em;
  	width: 20em;
  	height: 3em;
	border: 1px solid;
}
.menu form .radio {
	margin: 0 -1em;
	margin-buttom: 1em;
	width: 5em;
	height: 1em;
}
.menu .submit {
	border-radius: 8px 8px 8px 8px;
	background: #E58133;
	width: 100%;
	height: 3em;
	color: white;
	cursor: pointer;
	border: 0;
}
.menu .submit:hover {
	background: #FF5F00;
}
