body {
	background: url(../backgrounds/blackwood.jpg);
}
input, button {
	border: none;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 1em;
	line-height: 1.5em;
	padding: 0;
}
after {
	clear: both;
}
.menu {
	margin: 5em auto;
	width: 22em;
	color: white;
	font-family: 'Open Sans', Arial, sans-serif;
	text-align: center;
}
.menu form {
	margin: auto;
	padding: 1em 1.5em;
	padding-top: 0;
	width: 100%;
	border-radius: 5px;
	background: #282e33;
	border-top: 3px solid #434a52;
	border-bottom: 3px solid #434a52;
}
.menu form input {
	background-color: #3b4148;
	border-radius: 0px 3px 3px 0px;
	color: #a9a9a9;
	margin-bottom: 1em;
	padding: 1em;
	width: 90%;
	height: 2em;
}
.menu form .radio {
	margin: 0 -1em;
	margin-buttom: 1em;
	width: 5em;
	height: 1em;
}
.menu .submit {
	background: #E58133;
	width: 100%;
	height: 3em;
	color: white;
	cursor: pointer;
	border: 0;
}
.menu .submit:hover {
	background: #FF5F00;
}
