body {
	background: url(../backgrounds/wood.jpg);

}

input, button {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0;
}

.login h1 {
	color: black;
}

after { clear: both; }

.login {
  margin: 8em auto;
  width: 22em;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align:center;
}


.login {
  margin: auto;
  width: 22em;
  color: white;
  font-family: 'Open Sans', Arial, sans-serif;
  text-align:center;
}

.login form {
  margin: auto;
  margin-top: 5em;
  padding: 1.5em;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #434a52;
}

.login form input {
  border-radius: 8px 8px 8px 8px;
  color:  #4d4d4d;
  margin-bottom: 1em;
  padding: 0 1em;
  width: 20em;
  height: 3em;
	border: 1px solid;
}

.login .submit{
  background: #ff944d;
  width: 100%;
  height: 3em;
  color: white;
  cursor: pointer;
	border-radius: 8px 8px 8px 8px;
  border: 0;
}

.login .submit:hover {
  background: #f5873d;
}

/*

OLD STYLE

.login form {
  margin: auto;
  padding: 1.5em;
  width: 100%;
  border-radius: 5px;
  background: #282e33;
  border-top: 3px solid #434a52;
  border-bottom: 3px solid #434a52;
}

.login form input {
  background-color: #3b4148;
  border-radius: 0px 3px 3px 0px;
  color: #a9a9a9;
  margin-bottom: 1em;
  padding: 0 1em;
  width: 20em;
  height: 3em;
}

.login .submit{
  background: #E58133;
  width: 100%;
  height: 3em;
  color: white;
  cursor: pointer;
  border: 0;
}

.login .submit:hover {
  background: #FF5F00;
}
*/