* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box; /* Firefox, other Gecko */
box-sizing: border-box;
}

body {
}

.menu {
  max-width: 510px;
  max-height: inherit;
  margin-left: 300px;
  padding: 20px;
}

/* ---- grid ---- */
.grid {
  background: #CD5C5C;
  margin-left: 300px;
  padding-top: 45px;
  padding-left: 45px;
  border: 2px solid black;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 10px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

rec, svg {
  border: 1px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

